# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
dependency-reduced-pom.xml
build.log
target-eclipse/

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath

# OS files
.DS_Store
Thumbs.db
